table{
  background-color: orange;
}

th{
  background-color: darkorange;
}

.inst-id{
  background-color: orangered;
}

body{
  background-color: honeydew;
}

.container{
  background-color: lightcyan;
}